@font-face{
  font-family: 'RalewayIt';
  src: url('./Raleway-LightItalic.ttf');
}
@font-face{
  font-family: 'Raleway';
  src: url('./Raleway-ExtraLight.ttf');
}
*{
  box-sizing: border-box;
  font-family: Raleway;
}

.news-name{
  font-size: 30px;
  
  font-family: RalewayIt;
}

.hightlights{
  line-height: 25px;
  font-size: 18px;
  
}

.read-more{
  color:white;
  margin: 0;
  border-radius: 5px;
  min-height: 20;
  min-width: 200px;
  background: rgb(37, 37, 37);
}

.score{
  font-size: 18px;
  font-family: RalewayIt;
}

#search-news{
  padding: 5%;
}
#search-site button:hover{
  color:rgb(68, 231, 246);
}
input::selection{
  background: black;
}
.some-record {
  padding: 40px;
  margin-bottom: 100px;
}


.some-record p{
  font-size: 20px;
}
#qqq{
  margin-bottom: 50px;
}
.some-record h2{
  margin-bottom: 45px;
  font-size: 35px;
}
.search-line{
  margin: 22vh 0;
}
.news{
  margin: 25px 0;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  padding: 2%;
  border:1px solid rgba(122, 122, 122, 0.24);
  background:linear-gradient(to right, #ffffff 0%, #ffffff 60%,rgba(53, 130, 153, 0.938) 100%);
}

#product-list{ 
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#SUPage{
  width: 100%;
  height: 100vh;
  background: url(./img/prback.jpg);
  background-size:100%;
  padding:10px;
}

#Su-template{
  background: rgba(255, 255, 255, 0.842);
  padding: 3%;
  margin-top:100px;
text-align: center;
width: 40%;
margin-left:30%;
}

#Su-template h1{
 color:rgb(221, 166, 84);
 font-size: 50px;
}

#Su-template h2{
  color:rgb(71, 190, 219);
}

#Su-template button { 
  min-width:30%;
  background: rgb(221, 166, 84);
  border: 1px solid white;  
  color:white;
}
#Su-template button:hover{ 
  background: black;
  color:white;
}

footer{ 
  width: 100%;
  text-align: center;
  padding: 20px 20% !important;
  background:black;
  color:white;
  font-size: 16px;
}



#product-template{ 
  width: 100%;
}

.some-product { 
  margin: 15px;
  padding: 15px;
  flex:1;
  max-width: 25%;
  min-height: 30vh;
  min-width: 20%;
  border:1px solid black;
  box-shadow: rgba(0, 0, 0, 0.555) 5px 5px 5px;
  background: white;
}

.some-product:hover h2{
  color:rgb(98, 207, 98);
}

.some-product:hover{ 
  border: 2px solid rgb(98, 207, 98);
}
#black-line{
  background: black;
  width: 70%;
  height: 1px;
  margin: 20px 15% 10px 15%; 
  box-shadow: rgba(0, 0, 0, 0.904) 10px 10px 10px;
}

.some-product { 
  font-size: 14px;
}

#search-page-body{
  text-align:center;
  width: 60%;
  margin-left:20%;
  margin-top:50px;
}


.some-product button { 
  min-width: 70%;
  margin-left:15%;
  min-height: 40px;
  border:1px solid black;
  background: rgba(52, 214, 52, 0.473)
}

.some-product button:hover{ 
  background: rgba(177, 38, 38, 0.616);
}


.some-product img { 
  width: 100%;
}



body{
  background: rgb(233, 233, 233);
}

#search-site{
  text-align: center;
}

.app{
  width: 100%;
}
header a:hover {
  color:rgb(18, 218, 236);
  cursor: pointer;
}
#search-form{
  display: inline;
  text-align: center;
  margin: 20px;
}

.please-select{
  margin: 20px 40px;
} 

#feedbacks{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.feedbacksTemplate {
  
  background: white;
flex:1;
}

.feedbacksRoles{
  background: white;
  text-align:center;
  flex:1;
  padding:1%;
}
.some-comment{
  transition: 0.3s;
  width:100%;
  border:1px solid rgb(61, 211, 211);
  margin: 10px;
  padding: 1%;
  background: rgba(0, 0, 0, 0.781);
  color:white;
}

.some-comment:hover{
  transform: scale(1.07);
}

.some-comment img{
  float:left;
  border:1px solid rgba(0, 0, 0, 0.521);
  border-radius:5px;
}


#search-form input, #site-search-input{
  font-size: 20px;
  width: 50%;
  height: 50px;
  border-radius: 15px;
  border:1px solid rgb(36, 36, 36);
  margin: 20px auto;
  display: block;
}

.line-status-template{
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.line-status-container{
  padding: 3%;
}

.line-status-block:hover{
  color:rgb(18, 218, 236);
}
.line-status-block{
  color:white;
  background: rgb(46, 46, 46);
  flex:1;
  min-width: 200px;
  padding: 20px;
 margin: 20px 10px;
 text-align: center;
 border:1px solid black;
}

.product-template{
  width: 100%;
}

.test-class{
  margin-left: 20%;
  display: block;
  width: 60%;
  height: 35px;
}

.slider {
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-top:30px;
    }

.slider__item {
      height:250px;

    }

.slider__item_one {
      background: url(./img/s1.jpeg);
      background-size: 100%;
    }

.slider__item_two { 
      background: url(./img/S2.jpg);
      background-size: 100%;
      background-repeat:no-repeat;
    }

.slider__item_three { 
      background: url(./img/s3.jpg);
      background-size: 100%;
      background-repeat:no-repeat;
    }

.slider__item_four { 
      background: url(./img/s4.jpg);
      background-size: 100%;
      background-repeat:no-repeat;
    }

.slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

.slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

.slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

.slider__control_show {
      display: flex;
    }

#content h1,h2,p {
  text-align: center;
}

.slider__control:hover,
.slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
}

.slider__control_left {
      left: 0;
}

.slider__control_right {
      right: 0;
}

.colorLabels{
      width: 80%;
      margin-left: 10%;
      display:flex;
      flex-wrap: wrap;
    }

.redLabel, .greyLabel { 
      font-size:20px;
      margin: 20px 10px;
      text-align: justify;
      line-height: 28px;
      padding: 2% 3%;
      box-shadow: rgba(0, 0, 0, 0.733) 5px 5px 5px;

    }

.redLabel{ 
  
      background: rgba(231, 36, 36, 0.589);
      flex: 1;
    }

    .react-search-field-button{
      box-sizing: border-box !important;
     margin: 0 !important;
    }

.greyLabel{
      flex: 1;
      background: rgba(95, 206, 68, 0.76);
    }

#content{ 
      box-sizing: border-box;
      width: 100%;
    }

.slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

.slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

.slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

.slider__item>div {
      line-height: 250px;
      font-size: 50px;
      text-align: center;
    }

#search-form input{
  font-size: 20px;
}

.line-status-block h1{
  font-size: 28px;
  margin-bottom: 100px;
}
#search-site {
  min-height:20vh;
  margin: 15vh 0 25vh 0;
}
#search-site h2{
  font-size: 40px;
}
#search-form button,#search-site button,.back-button {
  background: rgb(37, 37, 37);
  color:white;
  width: 15%;
  margin-left: 42.5%;
}

#home-container{
  width: 80%;
  min-height: 500px;
  display: flex;
  margin: 2% 10%;
  margin-bottom: 100px;
}

#my-photo{
  flex:1;
  min-height: 700px;
  background: black;
}

#my-photo, #about-work,#about-me{
  margin: 5px;
}


.about-me{
  padding: 1%;
  color:white;
  background: rgba(184, 28, 28, 0.863);
  flex:2;
  margin: 5px;
}
.about-api{
  padding: 1%;
}

.about-me p, .about-api p{
  line-height: 24px;
}


#about-container{
  display: flex;
}

.about-api{
  background: rgba(0, 0, 0, 0.877);
  color:white;
  flex:2;
  margin: 5px;
}
header li:hover{ 
  color: #881111;
  cursor: pointer;
}

.about-task h2{
  text-align: center;

}

.about-task {
  margin-bottom: 100px;
}

.about-me,.about-api{
  min-height: 300px;
}

#about-container{
  width: 90%;
  margin: 0 5%;
}

#about {
  flex: 2;
}

#about-work {
  background: red;
  min-height: 50%;
}

.back-button{
  margin-top: 50px;
}
.back-button:hover{
  color:rgb(133, 215, 226);
}
#search-site button{
  margin:  0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#search-items{
  min-width: 100%;
  float: left;
  padding: 3%;
  
}





#search-items input, button{
  margin: 0 20px;
  min-width: 15%;
  height: 30px;
  border:1px solid black;
}

#search-items button { 
  background: rgb(133, 215, 226);
  border:1px solid rgb(49, 49, 49);
}

#header-content{
  background: url(./img/prback.jpg);
  background-size:100%;
  padding:55px 15%;
}

.swal2-confirm, .swal2-styled{
margin:0 !important;
padding: 0 !important;
}

.slider{
  margin-bottom:70px;
}

header, footer{
  min-height: 65px;
  width: 100%;
  text-align: center;
  background: rgb(43, 167, 43);
  color:white;
  padding: 15px;
}

header li, footer li{
  font-size: 25px;
  margin: auto 50px;
  list-style-type: none;
  display: inline;
}

header a{
  text-decoration: none;
  color:white;
  font-size:27px;
}

form p{
  margin: 20px;
}
#time_table{
  width: 95%;
  margin: 50px auto;
  text-align: center;
  margin-bottom: 100px;
}

input {
  border:0;
  height: 30px;
  text-align: center;
}

#buy-form input{
  display: block;
  width: 100%;
  border: 1px solid rgb(55, 194, 55);
  margin: 15px;

}

#buy-form{
  width: 40%;
  margin-left:30%;
}

#buy-form button{
  min-width: 50%;
  transition: 0.4s;
  
  background: rgb(136, 233, 136);
}

#buy-form button:hover{
  transform: rotate(15deg);
  transform: scale(1.1);
  width: 50%;
  background: rgb(136, 233, 136);
}




li button{
  width: 150px;
  height: 32px;
  background: rgb(47, 185, 190);
  border:0;
  color: white;
}

button:hover{
  cursor: pointer;
}

#time_table td{
  height: 50px; 
}

#time_table tr:nth-child(odd) {
  background: #f7f7f7;
}
#time_table thead tr:first-child{
  background: black;
  color:white;
}

#some-product-template{
  width: 60%;
  margin-left:20%;
  text-align: center;
  opacity: 0.8;
  background: white;
  padding:50px 3%;
}

#product-body{
  width: 100%;
  min-height: 100vh;
  background: url('./img/prback.jpg');
}

footer ul{
 margin: 0;
}


#blink1 {
  width: 40%;
  border-bottom:1px solid black;
  padding: 1%;
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgb(0, 216, 216); }
  50% { color: rgb(62, 228, 40,0); }
  100% { color: rgb(0, 216, 216); }
}


@keyframes blink1 {
  0% { color: rgb(0, 216, 216); }
  50% { color: rgb(62, 228, 40, 0); }
  100% { color: rgb(0, 216, 216); }
}
.title-div h2{
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  width: 50%;
  line-height: 75px;
  margin: 0;
  padding: 5%;
  font-size: 48px;
  color:white;
}

#about-img{
  margin: 50px 25%;
}

#about-content{
  width: 60%;
  margin-left:20%;
}

#about-content p{
  text-align: justify;
}

#about-content p:hover{
  text-decoration: underline !important;
}
#about-content h2{
  text-decoration: underline;
}

@media screen and (max-width: 900px){
 header li{
  margin: auto 50px;
  list-style-type: none;
  display: block;
 }

 .title-div h2{
   line-height: 30px;
   font-size: 22px;
 }

 .title-div p{
  line-height: 25px;
  font-size: 17px;
 }

 
 .title-div{
   background: white;
   margin: 10px 5%;
   width: 90%;

   min-height: 200px;
 }
 footer li{
   font-size: 15px;
 }
 header{
   min-height: 30px;
 }
}
.header-pr{
  text-align: center;
  width: 80%;
  margin-top:10px;
  margin-left:10%;
  font-size: 30px;
 
}

.header-pr h2{ 
  text-decoration: underline;
}

@media only screen and (max-width: 600px){ 
  .some-product{
    min-width: 80%;
    margin: 15px 0;
  }

  #header-content{
    background: white;
  }

  .slider{
    display: none;
  }
  .redLabel{
    width: 100%;
  }

  .greyLabel{
    width: 100%;
  }

  .colorLabels{
    width: 100%;
    margin: 50px 0;
  }
  #some-product-template img{
    width: 100%;
  }

  #some-product-template{
    width:90%;
    margin-left:5%;
  }
  #buy-form{
    width: 80%;
    margin-left: 10%;
  }
}


a{
  color:white;
}